numpy>=1.19.2,<=1.24
decorator>=4.4.0
sympy>=1.5.1
cffi>=1.12.3
protobuf==3.20.2
attrs
cython
pyyaml
pathlib2
scipy
requests
psutil
absl-py

zarr==2.18.7
rerun-sdk==0.22.1
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
